.wrapper {
  width: 100%;
  max-width: 510px;
  align-self: flex-end;
}

.description {
  margin-bottom: 24px;
}

.songList {
  display: grid;
  gap: 7px
}

.song {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;

  &:hover {
    //color: black;
    background-color: var(--primary-color);
  }
}

.artist {
  font-size: 13px;
  opacity: .5;
}

.why {
  margin-top: 15px;
  font-size: 14px;
}

.whyText {
  margin-top: 5px;
  font-size: 14px;
  opacity: .5;
}