@import "../../styles/breakpoints";

.hero {
  width: 100%;
  padding: 0 20px;
  background-color: var(--bg-light);
  display: flex;
  justify-content: flex-end;
}

.content {
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  @include breakpoint(tablet) {
    max-width: 510px;
    margin: 0 auto;
    min-height: initial;
  }
}

.logo {
  margin-top: 20px;
  width: 130px;
}

.main {
  margin: 100px 0;

  @include breakpoint(mobile) {
    margin: 50px 0;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 50px;

  @include breakpoint(mobile) {
    font-size: 2rem;
    margin-bottom: 24px;
  }
}

.mode {
  color: var(--primary-color);
}

.input {
  max-width: 510px;
  margin-bottom: 14px;
}

.button {
  width: 100%;
  max-width: 510px;
  text-transform: uppercase;
}