@import "../../styles/breakpoints";

.hero {
  width: 100%;
  padding: 0 20px;
  background-color: var(--bg-light);
  display: flex;
  justify-content: flex-end;
}

.content {
  flex-grow: 1;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  @include breakpoint(tablet) {
    max-width: 510px;
    margin: 0 auto;
    min-height: initial;
  }
}

.logo {
  margin-top: 20px;
  width: 130px;
}

.main {
  margin: 62px 0 100px;

  @include breakpoint(tablet) {
    margin: 100px 0;
  }

  @include breakpoint(mobile) {
    margin: 70px 0;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 50px;
  position: relative;
  max-width: 510px;

  @include breakpoint(mobile) {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  &:before {
    content: "";
    background: url("/star.png");
    background-size: contain;
    transform: rotate(30deg);
    left: -45px;
    top: -40px;
    position: absolute;
    width: 40px;
    height: 40px;
  }
}

.mode {
  color: var(--primary-color);
  cursor: pointer;
}

.input {
  max-width: 510px;
  margin-bottom: 14px;
}

.button {
  width: 100%;
  max-width: 510px;
  text-transform: uppercase;
}